body{
    margin: 0;
    text-align: center;
}

.grid{
    display: inline-block;
    margin: 8px;
    text-align: left;
    border: 1px solid #e5e5e5;
}

.grid iframe{
    width: 400px;
    height: 300px;
}

.title{
    background: #e5e5e5;
    padding: 15px 5px;
    margin: -4px 0 0 0;
}